.div {
    background-color: #fff;
    display: flex;
    max-width: 360px;
    flex-direction: column;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
    white-space: nowrap;
    padding: 30px 41px;
  }
  .img {
    aspect-ratio: 1.45;
    object-fit: auto;
    object-position: center;
    width: 139px;
    align-self: center;
    max-width: 100%;
  }
  .div-2 {
    color: #000;
    margin-top: 39px;
    font: 36px Inter, sans-serif;
  }
  .div-3 {
    color: rgba(0, 0, 0, 0.7);
    font-family: Inter, sans-serif;
    align-self: center;
    margin-top: 79px;
  }
  .div-4 {
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    margin-top: 17px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    padding: 3px 13px;
  }
  .img-2 {
    aspect-ratio: 1.1;
    object-fit: auto;
    object-position: center;
    width: 56px;
    align-self: start;
  }
  .div-5 {
    font-family: Inter, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .div-6 {
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    margin-top: 33px;
    justify-content: space-between;
    gap: 3px;
    color: #000;
    padding: 2px 13px;
  }
  .img-3 {
    aspect-ratio: 1.35;
    object-fit: auto;
    object-position: center;
    width: 69px;
  }
  .div-7 {
    font-family: Inter, sans-serif;
    align-self: end;
    margin-top: 23px;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-8 {
    color: rgba(0, 0, 0, 0.7);
    font-family: Inter, sans-serif;
    align-self: center;
    margin-top: 42px;
  }
  .div-9 {
    border-radius: 5px;
    background-color: #d9d9d9;
    display: flex;
    margin-top: 17px;
    flex-direction: column;
    align-items: start;
    padding: 20px 80px 20px 14px;
  }
  .div-10 {
    font-family: Inter, sans-serif;
  }
  .div-11 {
    font-family: Inter, sans-serif;
    margin-top: 35px;
  }
  .div-12 {
    font-family: Inter, sans-serif;
    border-radius: 5px;
    background-color: #21caca;
    margin-top: 37px;
    justify-content: center;
    align-items: start;
    color: #fff;
    padding: 19px 60px 19px 85px;
  }
  .div-13 {
    font-family: Inter, sans-serif;
    align-self: center;
    margin-top: 16px;
  }